In [90]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [91]:
df_raw = pd.read_csv('time_series_covid19_confirmed_global_metricdate.csv')
df_raw_aus = df_raw[df_raw['Country/Region'] == "Australia" ]

In [92]:
dates = df_raw_aus.columns[4:]

In [93]:
dates

Index(['22-01-20', '23-01-20', '24-01-20', '25-01-20', '26-01-20', '27-01-20',
       '28-01-20', '29-01-20', '30-01-20', '31-01-20',
       ...
       '12-04-21', '13-04-21', '14-04-21', '15-04-21', '16-04-21', '17-04-21',
       '18-04-21', '19-04-21', '20-04-21', '21-04-21'],
      dtype='object', length=456)

In [94]:
mm = dates[0].split('-')
mm[1]

'01'

In [95]:
months = [date.split('-')[1] for date in dates]
years = [date.split('-')[2] for date in dates]

In [96]:
df_aus = df_raw_aus.T

In [97]:
df_aus

,8,9,10,11,12,13,14,15
Province/State,Australian Capital Territory,New South Wales,Northern Territory,Queensland,South Australia,Tasmania,Victoria,Western Australia
Country/Region,Australia,Australia,Australia,Australia,Australia,Australia,Australia,Australia
Lat,-35.4735,-33.8688,-12.4634,-27.4698,-34.9285,-42.8821,-37.8136,-31.9505
Long,149.012,151.209,130.846,153.025,138.601,147.327,144.963,115.861
22-01-20,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...
17-04-21,123,5376,119,1518,682,234,20494,973
18-04-21,123,5384,119,1518,682,234,20498,975
19-04-21,123,5387,129,1518,688,234,20499,978
20-04-21,123,5395,132,1519,691,234,20502,980
21-04-21,123,5402,136,1520,693,234,20504,982

In [98]:
df = df_aus.iloc[4:]
df = df.rename(columns={8: 'ACT', 9: 'NSW', 10:'NT', 11: 'QLD', 12: 'SA', 13:'TAS', 14: 'VIC', 15: 'WA' })
# df['Months'] = months

In [99]:
df.head(12)

         ACT NSW NT QLD SA TAS VIC WA
22-01-20   0   0  0   0  0   0   0  0
23-01-20   0   0  0   0  0   0   0  0
24-01-20   0   0  0   0  0   0   0  0
25-01-20   0   0  0   0  0   0   0  0
26-01-20   0   3  0   0  0   0   1  0
27-01-20   0   4  0   0  0   0   1  0
28-01-20   0   4  0   0  0   0   1  0
29-01-20   0   4  0   1  0   0   1  0
30-01-20   0   4  0   3  0   0   2  0
31-01-20   0   4  0   2  0   0   3  0
01-02-20   0   4  0   3  1   0   4  0
02-02-20   0   4  0   2  2   0   4  0

In [100]:
# act=[]
# nsw=[]
cases = {}
states = df.columns

for i in range(len(states)):
    count = 0
    cases[f'{states[i]}']=[]
    for j in range(1, len(df)):
        if count == 0:
            cases[f'{states[i]}'].append(0)
            # print(j, act)
        # else:
        next_val = df.iloc[j,i]
        prev_val = df.iloc[j-1,i]
        diff = next_val - prev_val
        cases[f'{states[i]}'].append(diff)

        if j == len(df):
            count = 0
        else:
            count+=1

# print(len(act))
        
        # prev_value = row[index]

        # diff = next_value - prev_value
        # print(diff)
    # except:
    #     print("Last row")
# act[:8]
cases['WA']
df_cases = pd.DataFrame(cases)

In [101]:
df_cases[df_cases['ACT'] == -1].index

Int64Index([82], dtype='int64')

In [102]:
df_cases

     ACT  NSW  NT  QLD  SA  TAS  VIC  WA
0      0    0   0    0   0    0    0   0
1      0    0   0    0   0    0    0   0
2      0    0   0    0   0    0    0   0
3      0    0   0    0   0    0    0   0
4      0    3   0    0   0    0    1   0
..   ...  ...  ..  ...  ..  ...  ...  ..
451    0    6   6    2   0    0    0   6
452    0    8   0    0   0    0    4   2
453    0    3  10    0   6    0    1   3
454    0    8   3    1   3    0    3   2
455    0    7   4    1   2    0    2   2

[456 rows x 8 columns]

In [103]:
df_cases['Month'] = months
df_cases['Year'] = years
df_cases.head()

   ACT  NSW  NT  QLD  SA  TAS  VIC  WA Month Year
0    0    0   0    0   0    0    0   0    01   20
1    0    0   0    0   0    0    0   0    01   20
2    0    0   0    0   0    0    0   0    01   20
3    0    0   0    0   0    0    0   0    01   20
4    0    3   0    0   0    0    1   0    01   20

In [104]:
# Cases Monthly
df_cases_20 = df_cases[df_cases['Year'] == '20']
df_cases_21 = df_cases[df_cases['Year'] == '21']

In [134]:
Year_20 = df_cases_20.groupby('Month').sum()
Year_20
Year_21 = df_cases_21.groupby('Month').sum()
Year_21

       ACT  NSW  NT  QLD  SA  TAS  VIC  WA
Month
01       0  182  23   57  16    0   73  42
02       0   70   7   21  20    0   32  10
03       5  116   3  146  40    0    3  31
04       0  106  28   43  37    0   20  38

In [132]:
df_cases_20[df_cases_20['Month'] == '12'].tail()

     ACT  NSW  NT  QLD  SA  TAS  VIC  WA Month Year
340    0   14   0    5   3    0    2   5    12   20
341    0    9   1    2   0    0    0   0    12   20
342    0   25   0    2   3    0    1   1    12   20
343    0   17   0    3   1    0    3   0    12   20
344    0    5   1    0   4    0    8   2    12   20