In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.options.mode.chained_assignment = None  # default='warn'

# File to Load (Remember to Change These)
employment = "Ray Data/employment_study.csv"
covid = "Ray Data/australian_daily_cases_quarterly.csv"

# Read source data and store into Pandas data frame
employment_data = pd.read_csv(employment)
covid_data = pd.read_csv(covid)

In [2]:
employment_data.head(10)

,Date,Total Employed,Employed Fulltime,Employed Parttime,Total Unemployed,Unemployed Looked Fulltime,Unemployed looked Parttime,Labour Force Total,Month,Year,Quarter
0,2018-01-01,"12,485,071.36","8,510,402.41","3,974,668.95","726,796.11","499,945.77","226,850.34","13,211,867.47",1,2018,1
1,2018-02-01,"12,481,307.55","8,539,038.51","3,942,269.04","734,723.93","515,406.05","219,317.88","13,216,031.47",2,2018,1
2,2018-03-01,"12,492,874.09","8,507,227.02","3,985,647.06","727,812.60","519,541.80","208,270.80","13,220,686.68",3,2018,1
3,2018-04-01,"12,506,133.65","8,545,981.06","3,960,152.59","732,670.84","501,729.10","230,941.74","13,238,804.49",4,2018,2
4,2018-05-01,"12,506,245.93","8,524,538.96","3,981,706.98","714,787.45","496,171.59","218,615.86","13,221,033.39",5,2018,2
5,2018-06-01,"12,575,265.94","8,564,470.20","4,010,795.74","706,395.80","498,645.62","207,750.18","13,281,661.74",6,2018,2
6,2018-07-01,"12,571,401.86","8,592,250.61","3,979,151.25","700,184.28","494,537.99","205,646.29","13,271,586.13",7,2018,3
7,2018-08-01,"12,616,296.62","8,633,720.13","3,982,576.49","700,058.81","488,366.10","211,692.71","13,316,355.43",8,2018,3
8,2018-09-01,"12,626,825.90","8,653,386.87","3,973,439.03","666,742.88","451,171.11","215,571.77","13,293,568.79",9,2018,3
9,2018-10-01,"12,665,795.29","8,697,897.71","3,967,897.58","666,998.00","445,368.13","221,629.87","13,332,793.30",10,2018,4

In [4]:
covid_data

,Unnamed: 0,State,Date,Covid_Cases_Cumulative,Covid_Cases,Month,Year,Quarter
0,0,Australian Capital Territory,2018-01-01,0,0.0,1,2018,1
1,1,Australian Capital Territory,2018-01-02,0,0.0,1,2018,1
2,2,Australian Capital Territory,2018-01-03,0,0.0,1,2018,1
3,3,Australian Capital Territory,2018-01-04,0,0.0,1,2018,1
4,4,Australian Capital Territory,2018-01-05,0,0.0,1,2018,1
...,...,...,...,...,...,...,...,...
9643,1201,Western Australia,2021-04-16,967,6.0,4,2021,2
9644,1202,Western Australia,2021-04-17,973,2.0,4,2021,2
9645,1203,Western Australia,2021-04-18,975,3.0,4,2021,2
9646,1204,Western Australia,2021-04-19,978,2.0,4,2021,2
9647,1205,Western Australia,2021-04-20,980,2.0,4,2021,2

In [5]:
covid_data = covid_data.iloc[:,2:]
covid_data

            Date  Covid_Cases_Cumulative  Covid_Cases  Month  Year  Quarter
0     2018-01-01                       0          0.0      1  2018        1
1     2018-01-02                       0          0.0      1  2018        1
2     2018-01-03                       0          0.0      1  2018        1
3     2018-01-04                       0          0.0      1  2018        1
4     2018-01-05                       0          0.0      1  2018        1
...          ...                     ...          ...    ...   ...      ...
9643  2021-04-16                     967          6.0      4  2021        2
9644  2021-04-17                     973          2.0      4  2021        2
9645  2021-04-18                     975          3.0      4  2021        2
9646  2021-04-19                     978          2.0      4  2021        2
9647  2021-04-20                     980          2.0      4  2021        2

[9648 rows x 6 columns]

In [6]:
# drop_dates = covid_data[covid_data['Date'] >= '2021-04-01']
# covid_data = covid_data.drop(drop_dates.index, axis=0)

In [7]:
# employment_data_total =employment_data.groupby(["Year","Month","Quarter","Total Employed","Total Unemployed"]).sum()
# employment_data_total

In [8]:
covid_data_sorted = covid_data.groupby(["Year", "Month","Quarter"]).sum()
covid_data_sorted

                    Covid_Cases_Cumulative  Covid_Cases
Year Month Quarter
2018 1     1                             0          0.0
     2     1                             0          0.0
     3     1                             0          0.0
     4     2                             0          0.0
     5     2                             0          0.0
     6     2                             0          0.0
     7     3                             0          0.0
     8     3                             0          0.0
     9     3                             0          0.0
     10    4                             0          0.0
     11    4                             0          0.0
     12    4                             0          0.0
2019 1     1                             0          0.0
     2     1                             0          0.0
     3     1                             0          0.0
     4     2                             0          0.0
     5     2                             0          0.0
     6     2                             0          0.0
     7     3                             0          0.0
     8     3                             0          0.0
     9     3                             0          0.0
     10    4                             0          0.0
     11    4                             0          0.0
     12    4                             0          0.0
2020 1     1                            61         16.0
     2     1                           547         17.0
     3     1                         51310       6992.0
     4     2                        271952       2756.0
     5     2                        311858        515.0
     6     2                        315896        886.0
     7     3                        470642      10464.0
     8     3                        832087       8323.0
     9     3                        925085       1338.0
     10    4                        981440        688.0
     11    4                        966251        463.0
     12    4                       1016375        874.0
2021 1     1                       1042618        505.0
     2     1                        950255        227.0
     3     1                       1062973        456.0
     4     2                        693120        340.0

In [9]:
covid_employment = pd.merge(employment_data, covid_data_sorted, on=['Month','Year','Quarter'])
covid_employment.head(10)

,Date,Total Employed,Employed Fulltime,Employed Parttime,Total Unemployed,Unemployed Looked Fulltime,Unemployed looked Parttime,Labour Force Total,Month,Year,Quarter,Covid_Cases_Cumulative,Covid_Cases
0,2018-01-01,"12,485,071.36","8,510,402.41","3,974,668.95","726,796.11","499,945.77","226,850.34","13,211,867.47",1,2018,1,0,0.0
1,2018-02-01,"12,481,307.55","8,539,038.51","3,942,269.04","734,723.93","515,406.05","219,317.88","13,216,031.47",2,2018,1,0,0.0
2,2018-03-01,"12,492,874.09","8,507,227.02","3,985,647.06","727,812.60","519,541.80","208,270.80","13,220,686.68",3,2018,1,0,0.0
3,2018-04-01,"12,506,133.65","8,545,981.06","3,960,152.59","732,670.84","501,729.10","230,941.74","13,238,804.49",4,2018,2,0,0.0
4,2018-05-01,"12,506,245.93","8,524,538.96","3,981,706.98","714,787.45","496,171.59","218,615.86","13,221,033.39",5,2018,2,0,0.0
5,2018-06-01,"12,575,265.94","8,564,470.20","4,010,795.74","706,395.80","498,645.62","207,750.18","13,281,661.74",6,2018,2,0,0.0
6,2018-07-01,"12,571,401.86","8,592,250.61","3,979,151.25","700,184.28","494,537.99","205,646.29","13,271,586.13",7,2018,3,0,0.0
7,2018-08-01,"12,616,296.62","8,633,720.13","3,982,576.49","700,058.81","488,366.10","211,692.71","13,316,355.43",8,2018,3,0,0.0
8,2018-09-01,"12,626,825.90","8,653,386.87","3,973,439.03","666,742.88","451,171.11","215,571.77","13,293,568.79",9,2018,3,0,0.0
9,2018-10-01,"12,665,795.29","8,697,897.71","3,967,897.58","666,998.00","445,368.13","221,629.87","13,332,793.30",10,2018,4,0,0.0

In [10]:
print(covid_employment.dtypes)

Date                           object
Total Employed                 object
Employed Fulltime              object
Employed Parttime              object
Total Unemployed               object
Unemployed Looked Fulltime     object
Unemployed looked Parttime     object
Labour Force Total             object
Month                           int64
Year                            int64
Quarter                         int64
Covid_Cases_Cumulative          int64
Covid_Cases                   float64
dtype: object

In [11]:
#covid_employment.groupby(["Year", "Month","Quarter","Covid_Cases","Total Unemployed"]).sum()

In [12]:
to_convert = covid_employment[['Total Employed','Year','Employed Fulltime','Employed Parttime','Total Unemployed','Unemployed Looked Fulltime','Unemployed looked Parttime','Labour Force Total']]
to_convert.astype(float)

ValueError: could not convert string to float: '12,485,071.36'

In [ ]:
data=covid_employment[['Total Employed','Year']].astype(float)

df = pd.DataFrame(data, columns=['Total Employed','Year'])
df.plot(x ='Year', y='Total Employed', kind = 'line')
plt.show()

In [ ]:
covid_employment.plot(x='Year', y='Total Employed', kind='line')

In [ ]:
x_axis = (covid_employment['Quarter'] == 1)  &  (covid_employment['Year'] == 2018)
x_axis